<h1 class="center">Welcome to the list of pokemon !</h1>

<div class="container valign-wrapper">
  <div class="row">
      <input
        #input
        placeholder="Choose your pokemon"
        type="text"
        (keyup.enter)="SelectedPokemon(input.value)"
      />
  </div>
</div>
          
<div class="container" *ngIf="pokemonSelected !== undefined">
  <h6 class="center">Vous avez sélectionné</h6>
  <div class="row ">
      <div class="card horizontal" pkmnBorderCard>
        <img class="card-image" [src]="pokemonSelected?.picture">
        <div class="card-stacked">
          <div class="card-content">
            <p>{{pokemonSelected?.name}}</p>
            <p>{{pokemonSelected?.cp}}</p>
            <p>{{pokemonSelected?.hp}}</p>
            <p>{{ pokemonSelected?.types }}</p>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row" >
    <div *ngFor="let pokemon of pokemonList" class="col s6 m4">
      <div class="card horizontal" pkmnBorderCard >
        <img class="card-image" [src]="pokemon.picture">
        <div class="card-stacked">
          <div class="card-content ">
            <p>{{pokemon.name}}</p>
            <!-- <p>{{pokemon.cp}}</p>
            <p>{{pokemon.hp}}</p> -->
            <p><small> {{ pokemon.created | date:"dd/MM/yyyy" }} </small></p>
            <span 
              *ngFor="let type of pokemon.types" 
              class="{{ type | pokemonTypeColor }}"
            >
              {{ type }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>